<div class="container">
  <!-- <app-cockpit
    (sCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit> -->
  <!-- <hr> -->
  <app-game-control (numberEvent)="onNumber($event)"></app-game-control>
  <div class="row">
    <div class="col-xs-12">
      <!-- <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
      </app-server-element> -->
      <app-even *ngFor="let number of evenNumbers" [number]="number" ></app-even>
      <app-odd *ngFor="let number of oddNumbers" [number]="number"></app-odd>
  </div>
</div>
